* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: sans-serif;
    user-select: none;
}

main {
    display: flex;
	justify-content: center;
}

main div {
    width: 200px;
	height: 260px;
    margin: 10px;
    padding: 10px;
    border: 2px dashed black;
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-origin: content-box;
}

main div[data-color][data-animal] {
    border: 2px solid black;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.play {
    width: 100px;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
	margin: 15px auto;
    text-align: center;
    background-color: #ccc;
    font-weight: bold;
}

#solved {
	font-size: 2em;
	width: 100%;
	text-align: center;
}

[data-animal="Alpaka"] {
    background-image: url("../img/Alpaka.svg");
}

[data-animal="T-Rex"] {
    background-image: url("../img/T-Rex.svg");
}

[data-animal="Faultier"] {
    background-image: url("../img/Faultier.svg");
}

[data-animal="Schildkröte"] {
    background-image: url("../img/Schildkröte.svg");
    background-size: 75% 75%;
}

[data-animal="Pinguin"] {
    background-image: url("../img/Pinguin.svg");
    background-size: 80% 80%;
}

[data-animal="Wal"] {
    background-image: url("../img/Wal.svg");
}

[data-color="Lila"] {
    background-color: rgb(183, 117, 255);
    color: black;
}

[data-color="Weiß"] {
    background-color: White;
    color: black;
}

[data-color="Blau"] {
    background-color: rgb(117, 167, 255);
    color: white;
}

[data-color="Gelb"] {
    background-color: rgb(255, 246, 117);
    color: black;
}

[data-color="Grün"] {
    background-color: rgb(166, 255, 117);
    color: black;
}

[data-color="Schwarz"] {
    background-color: rgb(71, 71, 71);
    color: white;
}
